<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <script src="@Url.Content("~/JS/Common/ViewSubWayBill.js")" type="text/javascript"></script>
</head>
<body>
    <div id="toolBarDetail" style="padding: 1px; height: auto">
        <div style="margin-bottom: 5px">
            <a href="#" class="easyui-linkbutton" id="btnDetailQuery" iconcls="icon-search" plain="true">
                查询</a><a href="#" class="easyui-linkbutton" id="btnReleaseWayBill" iconcls="icon-release"
                    plain="true">查验放行</a><a href="#" class="easyui-linkbutton" id="btnUnReleaseWayBill"
                        iconcls="icon-detain" plain="true">查验扣留</a><a href="#" class="easyui-linkbutton"
                            id="btnRejectWayBill" iconcls="icon-reject" plain="true">退货</a><a href="#" class="easyui-linkbutton"
                                id="btnSeleAll" iconcls="icon-seleall" plain="true">全选</a><a href="#" class="easyui-linkbutton"
                                    id="btnInverseSele" iconcls="icon-inversesele" plain="true">反选</a><a href="javascript:void(0)"
                                        id="menuButtonReport_dlg" class="easyui-menubutton" data-options="menu:'#menuButtons_dlg',iconCls:'icon-report'">报表</a>
            <div id="menuButtons_dlg" style="width: 150px;">
                <div id="btnPrint_dlg" name="btnPrint_dlg" data-options="iconCls:'icon-print'">
                    打印(PDF)</div>
                <div id="btnExcel_dlg" name="btnExcel_dlg" data-options="iconCls:'icon-excel'">
                    导出(Excel)</div>
            </div>
            <span style="color: Red; font-weight: bold" id="TipForRejectSubWayBill">退货后，所退货的单将不会在库中，只可在《查询退货信息》查询</span>
        </div>
        总运单号:<input type="text" id="txtCode_Detail" name="txtCode_Detail"  value='@ViewData["Detail_wbSerialNum"]' />&nbsp;
        分运单号:<input type="text"
        id="txtSubWayBillCode_Detail" name="txtSubWayBillCode_Detail"  value='@ViewData["Detail_swbSerialNum"]' />&nbsp;
        货物中文名称:<input type="text" id="txtswbDescription_CHN" name="txtswbDescription_CHN" />
        货物英文名称:<input type="text" id="txtswbDescription_ENG" name="txtswbDescription_ENG" /><br />
        &nbsp;&nbsp;&nbsp;&nbsp;状态:<select id="ddlSwbStatus" name="ddlSwbStatus" multiple
            style="width: 350px;" panelheight="auto">
        </select>&nbsp;&nbsp;过机次数:<input type="text" id="ddlSortingTimes" name="ddlSortingTimes" />
        <input  type="hidden" id="hid_swbStatus" name="hid_swbStatus" value='@ViewData["Detail_swbStatus"]'/>
        <input  type="hidden" id="hid_bEnableReject" name="hid_bEnableReject" value='@ViewData["Detail_bEnableReject"]'/>
        <input  type="hidden" id="hid_bEnableUnRelease" name="hid_bEnableUnRelease" value='@ViewData["Detail_bEnableUnRelease"]'/>
        <input  type="hidden" id="hid_bEnableRelease" name="hid_bEnableReject" value='@ViewData["Detail_bEnableRelease"]'/>
        <font style="color: Red">总运单号必须精确，子运单号、货物名称可模糊输入</font>
    </div>
    <div id="DG_SubWayBillDetail" fit="true" style="width: 800px; height: 600px">
    </div>
</body>
</html>
